<!DOCTYPE html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ seo_pro:meta }}

    {{ partial:partials/favicon }}

    {{ og_generator:og_image }}

    {{ vite src="resources/js/site.js" }}
</head>
<body class="subpixel-antialiased font-serif mx-4 md:mx-8 lg:mx-16 min-h-full">
    {{ partial:partials/header }}

    {{ template_content }}

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
            data-cf-beacon='{"token": "84ad862b858645c7a016a0a9e0527d7a"}'>
    </script>
    <!-- End Cloudflare Web Analytics -->
</body>
</html>

