<header class="hidden md:flex h-16 max-w-6xl mx-auto mt-8 flex-row justify-between">
    <div class="ml-8 lg:ml-24 mr-4 lg:mr-8 flex">
        <a href="{{ homepage }}">
            {{ partial:partials/logo }}
        </a>
    </div>
    <div
            class="flex flex-row text-xl lg:text-2xl font-caps lowercase tracking-wide space-x-4 lg:space-x-8 mr-4 lg:mr-16 no-underline"
    >
        {{ nav:collection:pages }}
            <a
                class="border-b-2 border-transparent hover:border-black transition duration-300"
                href="{{ url }}"
            >
                {{ title }}
            </a>
        {{ /nav:collection:pages }}
        {{ locales self="false"}}
        <a class="border-b-2 border-transparent hover:border-black transition duration-300 {{ site:handle === handle ?= 'active' }}" href="{{ url }}">
            {{ locale:name }}
        </a>
        {{ /locales }}
    </div>
</header>

<header class="md:hidden max-w-6xl mx-auto mt-6 mb-8 flex flex-col">
    <div class="text-center mx-auto mb-4">
        <a href="{{ homepage }}">
            {{ partial:partials/logo }}
        </a>
    </div>
    <div
            class="flex flex-row flex-wrap justify-center text-lg sm:text-xl font-caps lowercase tracking-wide gap-x-4 gap-y-2 sm:space-x-6 no-underline"
    >
        {{ nav:collection:pages }}
        <a
                class="border-b-2 border-transparent hover:border-black transition duration-300"
                href="{{ url }}"
        >
            {{ title }}
        </a>
        {{ /nav:collection:pages }}

    </div>
</header>
