<div class="max-w-5xl mx-auto mt-12 flex flex-row flex-no-wrap mb-52">
    <div class="hidden md:block flex-initial flex flex-col mr-16 max-w-[10em]">
        <h1
                class="text-3xl font-semibold text-right border-t-[3px] pt-2 border-black"
        >
            {{ title }}
        </h1>

        <p class="italic text-right text-xl mt-3 text-gray-500">
            {{ date iso_format="MMMM Mo ʼYY" }}
        </p>
    </div>

    <div class="flex-1 text-[1.625em] leading-snug space-y-6">
        <div class="md:hidden text-4xl font-semibold leading-snug text-center">
            <h1>{{ title }}</h1>
        </div>

        <div class="text-[1.4rem] w-full mx-auto border-2 rounded-xl border-gray-200 m-2 py-2 px-4">
            {{ highlight:css }}
            {{ code }}
        </div>

        <div class="mt-2">
            <a target="_blank" href="{{ source_link }}">Source</a>
        </div>

    </div>
</div>

<div class="hidden md:block">
    <div class="fixed inset-y-0 left-0 w-32 cursor-pointer border-l-[3rem] border-transparent hover:border-gray-100 transition duration-500">
    </div>

    <div class="fixed inset-y-0 right-0 w-32 cursor-pointer border-r-[3rem] border-transparent hover:border-gray-100 transition duration-500">
    </div>
</div>