/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
.idea
composer.lock
public/mix-manifest.json
public/css
public/js
public/build!
/storage/app/static/

# Track Shiki cache (for faster Netlify builds)
!/storage/shiki-cache/
