<div class="max-w-5xl mx-auto mt-12 flex flex-row flex-nowrap mb-52">
    <div class="flex flex-col text-[1.625em] mx-auto text-center italic space-y-6">
        <div>
            <div class="text-5xl">
                Hej! Hej! <span class="inline-block not-italic animate-wiggle">👋🏻</span>
            </div>
            <div class="text-5xl max-w-xl mt-5">
                I'm Yunus Emre Deligöz
            </div>
            <div class="text-3xl max-w-xl text-gray-500 leading-relaxed mt-3">
                Software Developer, PHP, Laravel, TDD.
            </div>
        </div>

        <!-- region Articles -->
        <div>
            <h3 class="block text-3xl leading-snug tracking-widest font-caps uppercase border-b-2 not-italic border-black mt-10 mb-4">
                <a href="/articles">Latest Articles</a>
            </h3>

            <div class="flex flex-col text-[1.625em] mx-auto text-center italic">
                {{ collection:articles limit="3"}}
                <div class="flex flex-col">
                    <a href="{{ url }}" class="text-3xl leading-snug mt-2">
                        {{ title }}
                    </a>
                    <div class="flex flex-row justify-center">
                        <p class="text-gray-500 text-xl">
                            {{ date iso_format="MMMM Mo ʼYY" }}
                        </p>
                    </div>
                </div>
                {{ /collection:articles }}
            </div>
        </div>
        <!-- endregion -->

        <!-- region Snippets -->
        <div>
            <h3 class="block text-3xl leading-snug font-caps uppercase border-b-2 not-italic border-black mt-10 mb-4">
                <a href="/articles">Latest Snippets</a>
            </h3>

            <div class="flex flex-col text-[1.625em] mx-auto text-center italic">
                {{ collection:snippets limit="3"}}
                <div class="flex flex-col">
                    <a href="{{ url }}" class="text-3xl leading-snug mt-2">
                        {{ title }}
                    </a>
                    <div class="flex flex-row justify-center">
                        <p class="text-gray-500 text-xl">
                            {{ date iso_format="MMMM Mo ʼYY" }}
                        </p>
                    </div>
                </div>
                {{ /collection:snippets }}
            </div>
        </div>
        <!-- endregion -->
    </div>
</div>