<span
        class="inline-flex items-center {{ if icon_last }}justify-end{{ endif }}"
        x-data="{open: false}"
        @mouseenter.passive="open = true"
        @mouseleave.passive="open = false"
>
    {{ unless icon_last }}
        <x-phosphor-calendar-bold class="mr-1 w-6 h-6 text-gray-500 dark:text-gray-400" />
    {{ /unless }}

    <span class="grid [grid-template-areas:'text']">
        {{ if locale == 'tr' }}
            <span class="[grid-area:text] transition-opacity duration-200" :class="open ? 'opacity-0' : 'opacity-100'">{{ date iso_format="d MMMM 'YY" }}</span>
        {{ elseif locale == 'en' }}
            <span class="[grid-area:text] transition-opacity duration-200" :class="open ? 'opacity-0' : 'opacity-100'">{{ date iso_format="MMMM Mo ʼYY" }}</span>
        {{ endif }}
        <span class="[grid-area:text] transition-opacity duration-200" :class="open ? 'opacity-100' : 'opacity-0'">{{ date | ago }}</span>
    </span>

    {{ if icon_last }}
        <x-phosphor-calendar-bold class="ml-1 w-6 h-6 text-gray-500 dark:text-gray-400" />
    {{ /if }}
</span>
