<span
        class="flex items-center"
        x-data="{open: false}"
        @mouseenter.passive="open = true"
        @mouseleave.passive="open = false"
>
    <x-phosphor-clock-bold class="mx-1 w-6 h-6 text-gray-500" />
    <span x-show="!open">{{ content | raw |  flatten | join | strip_tags | read_time }} {{ if locale == 'tr' }} dk {{ elseif locale == 'en' }} min {{ endif }}</span>
    <span x-show="open">{{ content | raw | flatten | join | strip_tags | word_count }} {{ if locale == 'tr' }} kelime {{ elseif locale == 'en' }} words {{ endif }}</span>
</span>
