<div class="flex flex-row mx-auto mt-12 mb-52 max-w-5xl flex-nowrap">
    <div class="w-[12em] shrink-0 flex flex-col mr-16">
        <h1
            class="w-full text-3xl font-semibold text-right border-t-[3px] pt-2 border-black"
        >
            {{ title }}
        </h1>
        <h2 class="w-full mt-3 text-2xl italic text-right">
            {{ subtitle }}
        </h2>

        <p class="!w-full mt-4 text-xl italic leading-none text-gray-500 text-right">
            {{ partial:partials/info/date }}
        </p>

        <p class="!w-full mt-2 text-xl italic leading-none text-gray-500 text-right">
            {{ partial:partials/info/words }}
        </p>
    </div>

    <div class="!w-full flex-1 text-[1.625em] leading-snug space-y-6">
        {{ content }}
            {{ partial src="partials/bard/{type}" }}
        {{ /content }}
    </div>
</div>
