<div class="max-w-5xl mx-auto mt-12 flex flex-row flex-no-wrap mb-52">
    <div class="flex-initial flex flex-col mr-16 max-w-[10em]">
        <h1
            class="text-3xl font-semibold text-right border-t-[3px] pt-2 border-black"
        >
            {{ title }}
        </h1>
        <h2 class="italic text-right text-2xl mt-3">
            {{ subtitle }}
        </h2>

        <p class="italic text-right text-xl leading-none mt-1 text-gray-500">
            {{ content | flatten | join | strip_tags | read_time }} min
        </p>

        <p
            x-data="{open: false}"
            @mouseenter.passive="open = true"
            @mouseleave.passive="open = false"
            class="italic text-right text-xl leading-none mt-1 text-gray-500"
        >
            <span x-show="!open">{{ date | ago }}</span>
            <span x-show="open">{{ date }}</span>
        </p>
    </div>

    <div class="flex-1 text-[1.625em] leading-snug space-y-6">
        {{ content }}
            {{ partial src="partials/bard/{type}" }}
        {{ /content }}
    </div>
</div>

<div>
    <div class="fixed inset-y-0 left-0 w-32 cursor-pointer border-l-[3rem] border-transparent hover:border-gray-100 transition duration-500">
    </div>

    <div class="fixed inset-y-0 right-0 w-32 cursor-pointer border-r-[3rem] border-transparent hover:border-gray-100 transition duration-500">
    </div>
</div>